{% extends 'base.html.twig' %}

{% block title %} Conference - {{ conference}} {% endblock %}

{% block body %}
    <h2> Conference: {{ conference }} </h2>

    {% if comments|length > 0 %}

        <div> There are {{ comments|length }} comments.</div>

        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
            {% endif %}

    <h4> Comment Author: {{ comment.author }}</h4>
    <small>
        {{ comment.createdAt|format_datetime('medium', 'short') }}
    </small>

        <p> Text: {{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference_id', {id: conference.id, offset: previous}) }}">Previous</a>
        {% endif %}

        {% if next < comments|length %}
            <a href="{{ path('conference_id', {id: conference.id, offset: next}) }}">Next</a>
        {% endif %}
    {% else %}
        <DIV>No comments have been posted yet for this conference.</DIV>
    {% endif %}

{% endblock %}